<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="tvArknd001.Brickbound"
        package="tvArknd001"
        version="1.0.0"
        viewmodes="maximized"
        profile="tv-samsung">
  <tizen:application id="tvArknd001.Brickbound" package="tvArknd001" required_version="3.0"/>
  <content src="index.html"/>
  <access origin="*" subdomains="true"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="enable"/>
  <name>Brickbound</name>
</widget>
